<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Student Details</title>

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
		integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"
		th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>

</head>

<body>

	<div class="container mt-5 font-monospace fs-5">
		<div class="row">
			<div class="col-md-5 offset-md-3">
				<div class="card  " style="width: 25rem;">
					<img th:src="@{'/student/' + ${student.id} + '/studentImage'}" class="card-img-top" alt="student-details">
					<a type="button"  th:href="@{'/student/' + ${student.id} + '/image'}"  class="btn btn-outline-success">Change Image</a>

					<div class="card-body justify-content-center">
						<h5 class="card-title font-monospace fs-4">Student Details</h5>
					</div>
					<ul class="list-group list-group-flush">
						<li class="list-group-item">
							<p th:text="${ 'Name :' + student.name}"></p>
						</li>
						
						<li class="list-group-item">
							<p th:text="${ 'Nrc :' + student.nrc}"></p>
						</li>
						
						<li class="list-group-item">
							<p th:text="${'Age :' + student.age}"></p>
						</li>
						
						<li class="list-group-item">
							<p th:text="${'RollNo :' + student.rollNo}"></p>
						</li>

						<li class="list-group-item">
							<p th:text="${'Phone :' + student.ph}"></p>
						</li>
						
						<li class="list-group-item">
							<p th:text="${'Address :' + student.address}"></p>
						</li>
						<li class="list-group-item">
							<p th:text="${'Major :' + student.major.title}"></p>
						</li>
						<li class="list-group-item">
							<p th:text="${'Club :' + student.clubs.title}"></p>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>


</body>

</html>